
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">News</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
        
         
         
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" [(ngModel)] = "searchKey" 
          name="searchKey"
          type="search" placeholder="Search" aria-label="Search"><br>
          <button class="btn btn-outline-success" 
          (click) = "toSearch()" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div *ngIf = "isLoading" class="text-center mt-5">
    <app-spinner></app-spinner>
        <div class="text-danger"> Loading...... </div>
</div>
<div class="alert alert-danger" *ngIf="error" >
{{ error }}
</div>
<div class="alert alert-success" *ngIf = "message">
{{ message }}
</div>



  <div class="wrapper">
    <div class="row">
        <div class="col-md-3 mt-2 mb-3 ml-1 " *ngFor = "let article of articles" >
            <div class="card">
                <img [src]="article.urlToImage"I
                 [alt]="article.description"
                 height="200px" width="100%">
                 <div class="card-body" >
                     <div>
                      <p class="fw-bold" > Title : </p>  {{ article.title }}
                     </div>
                     <div>
                       <p class="fw-bold" > Author : </p>  {{ article.author }}
                     </div>
                     <div>
                      <p class="fw-bold" > Content : </p>  {{ article.content }}
                  </div>
                 </div>
            </div>
        </div>
    </div>
</div>



  